body {
    background-color: #111;
    color: #eee;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}